<h1>Item Registry</h1>
<div class="form-panel admin-only">
  <input type="text" id="iStock" placeholder="Stock Number">
  <input type="text" id="iName" placeholder="Item Name">
  <input type="text" id="iDesc" placeholder="Description">
  <input type="text" id="iLoc" placeholder="Location">
  <input type="number" id="iBal" placeholder="Balance">
  <input type="text" id="iCol" placeholder="Color">
  <input type="text" id="iCat" placeholder="Category">
  <button id="invRegisterBtn" class="btn-action" style="background:var(--accent-blue)">+ Register</button>
</div>
